<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link href="./src/style/main.css" rel="stylesheet" />
  </head>
  <body onload="prepared()">
    <div class="container" id="todo-app" >
      <h1>{{title}}</h1>

      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Put your new task name heare"
          id="inputTask"
          v-model="newTaskName"
          @keyup.enter="CreateTask"
          
        />
      
        
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" onclick="createTask()">
            Create
          </button>
        </div>
      </div>

     

      <div>
        <ul class="list-group mylist" id="list-content">
          <li v-for="por in list" class="list-group-item list-item ":class="{'is-done':por.done}">
            <input type="checkbox" v-model="por.done" aria-label="Checkbox for following text input" > {{por.name}}
        </li>
        </ul>
      </div>

     
      <div class="row">
        <div class="col-sm-6 mt-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" id="TitleTodoList">Todo List</h5>
              <p class="card-text">

                <ul class="list-group mylist" id="todo-list">
                    
                    <li v-for="task in todoList" class="list-group-item list-item ">
                        <input type="checkbox"  aria-label="Checkbox for following text input" > {{task.name}}
                    </li>
                    

                </ul>
    
              </p>
              
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 mt-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" id="TitlenoTodoList">No Todo List</h5>
              <p class="card-text">

                <ul class="list-group mylist" id="noTodo-list">
                  <li v-for="task in doneList" class="list-group-item list-item ">
                    <input type="checkbox"  aria-label="Checkbox for following text input" > {{task.name}}
                </li>

                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>

    
  </body>
  <script src="./src/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</html>
